<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'clientList' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="transparent">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size="12" sizeSm="12" sizeMd="8">
        <ion-card class="background-default">
          <ion-card-content class="">
            <app-lient-list-container></app-lient-list-container>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer padding text-right color="dark">Total clients: {{totalClients | async}}</ion-footer>
