<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'about.header' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultRoute"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="tranparent">
  <ion-card>
    <ion-card-header padding-start margin-start>
      <ion-card-title color="primary">{{ 'about.header' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item color="" text-center>
          <ion-text text-center style="width:100%">
            <ion-img class="appIcon" src="/assets/images/icon.png" style="margin: 5px auto;"></ion-img>
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-text>Aplikacja "Salon" - wersja {{ currentVersion | async }}</ion-text>
        </ion-item>
        <ion-list-header>Informacje:</ion-list-header>
        <ion-item text-wrap *ngFor="let trans of allTranslations; let i = index" style="text-align: justify">
          <p>
            {{ 'about.aboutApplication' + i | translate }}
          </p>
        </ion-item>
        <ion-list-header>Contact:</ion-list-header>
        <ion-item lines="none">
          <ion-text>
            email:
            <a href="mailto: kpodlaski@gmail.com">kpodlaski@gmail.com</a>
          </ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
