<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="(isUpdate$ | async); else createNew">Klient - Update</ion-title>
    <ng-template #createNew> <ion-title>Nowy klient</ion-title> </ng-template>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-card style="max-width: 600px">
        <app-client-form-container [isUpdate]="isUpdate$ | async"></app-client-form-container>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
