//@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,600,800');

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


.font-32 {
  font-size: 32px !important;
}
.font-48 {
  font-size: 48px !important;
}
.font-64 {
  font-size: 64px !important;
}
.font-96 {
  font-size: 96px !important;
}
.font-128 {
  font-size: 128px !important;
}
