pagination {
  .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: var(--ion-color-primary);
    border-color: var(--ion-color-primary);
  }
  .page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }
  a:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: var(--ion-color-primary);
    background-color: #fff;
    border: 1px solid #dee2e6;
  }
  a {
    color: var(--ion-color-primary);
    text-decoration: none;
    background-color: transparent;
  }
}
