<ng-container *ngIf="client">
  <ng-container *ngIf="!editMessage; else editMessageTemplate">
    <h2 fxLayout="row center" fxLayoutAlign="center center">
      <ion-text color="secondary">{{ 'clients.details.labels.notes' | translate }}</ion-text>
      <span fxFlex="1 1 auto"></span>
      <ion-button size="small" fill="clear" (click)="toggleEditMessage()" fxFlexAlign="end">
        <small>
          {{ 'clients.details.labels.addNote' | translate }}
        </small>
      </ion-button>
    </h2>
    <ion-item style="--min-height: 50px" class="" (click)="toggleEditMessage()">
      <section fxLayout="column" fxLayoutAlign="start start">
        <ion-text class="text-left">
          <span [innerHTML]="clientNotes | async | nl2br"></span>
        </ion-text>
      </section>
    </ion-item>
  </ng-container>
  <ng-template #editMessageTemplate>
    <ion-item class="" lines="none">
      <ion-textarea
        #noteInput
        [formControl]="formControl"
        rows="3"
        autofocus
        placeholder="{{ 'clients.details.labels.addNoteHere' | translate }}"
      ></ion-textarea>
    </ion-item>

    <ion-item class="" style="--padding-end: 0">
      <section fxFill fxLayoutAlign="end">
        <ion-button slot="end" (click)="onCancel()">{{ 'clients.details.labels.cancel' | translate }}</ion-button>
        <ion-button slot="end" (click)="onSaveNote()" [disabled]="formControl.pristine">
          {{ 'clients.details.labels.update' | translate }}
        </ion-button>
      </section>
    </ion-item>
  </ng-template>
</ng-container>
