<ion-app>

    <ion-split-pane when="md" contentId="menu-content">

        <ion-menu contentId="menu-content" menuId="mainMenu">
            <ion-header>
                <ion-toolbar>
                    <ion-title color="primary">Menu</ion-title>
                    <ion-buttons slot="end">
                        <ion-menu-toggle autoHide="false"></ion-menu-toggle>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-item-group>
                        <ion-item-divider>
                            <ion-icon color="primary" slot="start" name="person"></ion-icon>
                            <ion-label color="primary" text-center>
                                <ion-text text-center>
                                    <h1 style="display: inline">{{'klienci' | translate}}</h1>
                                </ion-text>
                            </ion-label>
                        </ion-item-divider>
                        <ion-menu-toggle menu="mainMenu" [autoHide]="false">
                            <ion-item detail [routerLink]="['/', 'secure', 'clients', 'list']" routerLinkActive="url-active">
                                <ion-label>List</ion-label>
                                <ion-icon slot="start" name="search"></ion-icon>
                            </ion-item>
                            <ion-item detail [routerLink]="['/secure', 'clients', 'edit', {formState: 'update'}]" routerLinkActive="url-active">
                                <ion-label>Edit</ion-label>
                                <ion-icon slot="start" name="search"></ion-icon>
                            </ion-item>
                            <ion-item detail routerLink="/secure/clients/edit">
                                <ion-label>Dodaj</ion-label>
                                <ion-icon slot="start" name="add"></ion-icon>
                            </ion-item>
                        </ion-menu-toggle>
                    </ion-item-group>
                    <ion-item-group>
                        <ion-item-divider>
                            <ion-icon color="primary" slot="start" name="person"></ion-icon>
                            <ion-label color="primary" text-center>
                                <ion-text text-center>
                                    <h1 style="display: inline">Ustawienia</h1>
                                </ion-text>
                            </ion-label>
                        </ion-item-divider>
                        <ion-item detail routerLink="/settings" routerLinkActive="url-active">
                            <ion-label>Ustawienia</ion-label>
                            <ion-icon slot="start" name="search"></ion-icon>
                        </ion-item>

                    </ion-item-group>
                </ion-list>
            </ion-content>
            <ion-footer>
                <ion-grid>
                    <ion-row>
                        <ion-col></ion-col>
                        <ion-col>Build: BUILDNO</ion-col>
                    </ion-row>

                </ion-grid>
            </ion-footer>
        </ion-menu>

        <ion-router-outlet id="menu-content" (activate)="changeRoute($event)"></ion-router-outlet>

    </ion-split-pane>

    <ion-menu contentId="menu-content" side="end" menuId="secondaryMenu">
        <ion-header>
            <ion-toolbar>
                <ion-searchbar ></ion-searchbar>
            </ion-toolbar>
        </ion-header>
    </ion-menu>


</ion-app>


