<ion-card *ngIf="client" style="--background: #fff">
  <ion-card-header padding>
    <ion-card-title>
      <ion-row>
        <ion-col size="auto">
          <ion-icon style="font-size: 64px" color="primary" [src]="getIcon(client)"></ion-icon>
        </ion-col>
        <ion-col color="tertiary" align-items-center>
          <ion-row>
            <ion-col>
              <b>{{ client?.lname }}</b>
              {{ client?.fname }}
            </ion-col>

            <ion-col size="auto">
              <ion-col size="auto">
                <ion-fab vertical="center" horizontal="center">
                  <ion-fab-button size="small" translucent="true" color="light">
                    <ion-icon name="more"></ion-icon>
                  </ion-fab-button>
                  <ion-fab-list side="bottom">
                    <ion-fab-button (click)="onEditClient(client)">
                      <ion-icon name="create"></ion-icon>
                    </ion-fab-button>
                    <ion-fab-button (click)="deleteClientConfirmation(client)">
                      <ion-icon name="trash"></ion-icon>
                    </ion-fab-button>
                  </ion-fab-list>
                </ion-fab>
              </ion-col>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <hr />
    <ion-grid>
      <ion-row>
        <ion-col size="12" *ngIf="client.email">
          <h2>
            <ion-text color="secondary">Email</ion-text>
          </h2>
          <ion-item lines="none" text-left class="ps-0">
            <ion-icon color="primary" name="mail" slot="start"></ion-icon>
            <ion-text color="primary">
              <a #mailTo style="color: inherit" href="mailto:{{ client.email }}">{{ client.email }}</a>
            </ion-text>
          </ion-item>
        </ion-col>
        <ion-col size="12" *ngIf="client.phones.length > 0">
          <h2>
            <ion-text color="secondary">{{ 'phones' | translate }}</ion-text>
          </h2>
          <ion-item lines="none" *ngFor="let phone of client.phones" text-left class="ps-0">
            <ion-icon slot="start" color="primary" src="/assets/icon/018-phone-contact.svg"></ion-icon>
            <section fxFlex fxLayoutAlign="start center" fxLayoutGap="15px">
              <ion-text color="dark">{{ phone.number }}</ion-text>
              <ion-button (click)="onCall(phone.number)" fill="clear">

                &nbsp;
                {{ 'clients.details.labels.call' | translate }}
              </ion-button>
            </section>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ps-0">
          <app-client-details-client-notes
            [client]="client"
            (saveNote)="saveNote.emit($event)"
          ></app-client-details-client-notes>
        </ion-col>
      </ion-row>
    </ion-grid>
    <app-client-events (addClientEvent)="addClientEvent($event)" [currency]="currency"></app-client-events>

    <ion-list *ngIf="length > 0 && (clientEventToDisplay() | async) as clientEvents">
      <ng-container *ngFor="let ce of clientEvents; trackBy: trackEventsBy">
        <ion-item-sliding #slideItem>
        <ion-item
          button
          detail
          [detailIcon]="expandedRow === ce._id ? 'arrow-down' : 'arrow-forward'"
          (click)="setExpanded(ce._id)"
        >
          <ion-label text-wrap fxLayout>
            <ion-text>
              {{ ce.eventDate | amDateFormat: 'DD MMMM YYYY' }} &nbsp;
              <ion-text color="medium">({{ ce.eventDate | amTimeAgo }})</ion-text>
              <span fxFlex="1 1 auto"></span>
            </ion-text>
          </ion-label>
          <span slot="end">{{ ce.price.amount / 100 }} {{ ce.price.currency }}</span>
        </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="onDeleteClientEvent(ce, slideItem )">
              {{ 'clients.details.labels.delete' | translate }}
            </ion-item-option>
          </ion-item-options>
          <ion-item-options side="start">
            <ion-item-option color="warning" (click)="onClientEventEdit(ce, slideItem )">
              {{ 'clients.details.labels.edit' | translate }}
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-item *ngIf="ce._id === expandedRow" style="">
          <ion-textarea
            [rows]="currentTextAreaRow(textarea)"
            #textarea
            placeholder="Dodaj notatke z wizyty.."
            type="text"
            (change)="onUpdateClientEvent(textarea, ce)"
            [value]="ce.eventNotes"
          ></ion-textarea>
        </ion-item>
      </ng-container>

      <ion-list *ngIf="showPager()">
        <div class="wrapper" fxLayoutAlign="end start">
          <pagination
            [totalItems]="length"
            previousText="&lsaquo;"
            nextText="&rsaquo;"
            firstText="&laquo;"
            lastText="&raquo;"
            (pageChanged)="changePage($event)"
          ></pagination>
        </div>
      </ion-list>
    </ion-list>
  </ion-card-content>
</ion-card>
