<ion-card style="max-width: 500px" *ngIf="client" no-margin>
  <ion-card-header padding>
    <ion-grid fixed>
      <ion-row>
        <ion-col size>Actions</ion-col>
        <ion-col size="auto">
            <ion-col size="auto">
                <ion-fab-list side="bottom">
                  <ion-fab-button><ion-icon name="edit"></ion-icon></ion-fab-button>
                  <ion-fab-button><ion-icon name="delete"></ion-icon></ion-fab-button>
                </ion-fab-list>
              </ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-title>
      <ion-row>
        <ion-col size="auto">
          <ion-icon style="font-size: 64px" color="primary" [src]="getIcon(client)"></ion-icon>
        </ion-col>
        <ion-col color="tertiary" align-items-center>
          <b>{{ client?.lname }}</b>
          {{ client?.fname }}
        </ion-col>
       
      </ion-row>
    </ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <hr />
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h1 padding-start>
            <ion-text color="secondary">{{ 'phones' | translate }}</ion-text>
          </h1>
          <ion-item lines="none" *ngFor="let phone of client.phones" text-left>
            <ion-label color="dark">{{ phone.number }}</ion-label>
            <ion-button slot="start" fill="clear" (click)="onCall(phone.number)">
              <ion-icon src="/assets/icon/018-phone-contact.svg" color="dark"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <h1 padding-start margin-start margin-bottom>
            <ion-text color="secondary">{{ 'clientNotes' | translate }}</ion-text>
          </h1>
          <ion-item>
            <ion-text>{{ client.clientNotes }}</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<pre>
    {{ client | json }}
</pre>
