<ion-card style="max-width: 500px" *ngIf="client" no-margin>
  <ion-card-header padding>
   
    <ion-card-title>
      <ion-row>
        <ion-col size="auto">
          <ion-icon style="font-size: 64px" color="primary" [src]="getIcon(client)"></ion-icon>
        </ion-col>
        <ion-col color="tertiary" align-items-center>
          <b>{{ client?.lname }}</b>
          {{ client?.fname }}
        </ion-col>
       
      </ion-row>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <hr />
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h1>
            <ion-text color="secondary">{{ 'phones' | translate }}</ion-text>
          </h1>
          <ion-item lines="none" *ngFor="let phone of client.phones" text-left>
            <ion-label color="dark">{{ phone.number }}</ion-label>
            <ion-button slot="start" fill="clear" size="large" (click)="onCall(phone.number)">
              <ion-icon src="/assets/icon/018-phone-contact.svg" color="dark"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <h1>
            <ion-text color="secondary">{{ 'clientNotes' | translate }}</ion-text>
          </h1>
          <ion-item>
            <ion-text [innerHTML]="client.clientNotes | nl2br "></ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <app-client-events></app-client-events>
  </ion-card-content>
</ion-card>

<pre>
    {{ client | json }}
</pre>
