<ng-container [formGroup]="form">
  <ion-card-header no-padding padding-top>
    <ion-item lines="none">
      <section
        fxLayout="row"
        fxLayout.lt-sm="column"
        fxLayoutAlign.lt-sm="start center"
        fxFill
        fxLayoutAlign="start start"
      >
        <ion-img padding-end [src]="getIcon()" slot="start" style="width: 96px; height: auto;"></ion-img>

        <section fxLayout="column" fxFlexAlign.lt-sm="start" fxLayoutAlign="space-between, start" fxFlex.lt-sm="100%">
          <ion-card-subtitle *ngIf="!isUpdate"  fxHide.lt-sm>{{ 'addInformationAboutClient' | translate }}</ion-card-subtitle>
          <ion-card-subtitle *ngIf="isUpdate"  fxHide.lt-sm>{{ 'updateClientData' | translate }}</ion-card-subtitle>
          <ion-card-title margin-top>
            <ion-text style="--font-size: 12px">
              {{ form.value.lname }}
              {{ form.value.fname }}
            </ion-text>
          </ion-card-title>
        </section>
      </section>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <ion-row justify-content-end>
      <ion-radio-group fxLayout="row" fxLayoutAlign="end center" formControlName="sex">
        <ion-item lines="none">
          <ion-radio value="female" style="margin-right: 10px"></ion-radio>
          <ion-label>{{ 'female' | translate }}</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-radio value="male"></ion-radio>
          <ion-label>{{ 'male' | translate }}</ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-row>
    <ion-row>
      <ion-col size="12" sizeMd="6">
        <ion-item>
          <ion-label position="floating">{{ 'lname' | translate }}</ion-label>
          <ion-input autocapitalize type="text" formControlName="lname"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" sizeMd="6">
        <ion-item>
          <ion-label position="floating">{{ 'fname' | translate }}</ion-label>
          <ion-input autocapitalize type="text" formControlName="fname" autofocus></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <app-client-form-phones
      [form]="form"
      [phones]="phones"
      [phoneTypes]="phoneTypes"
      (addPhone)="addPhone.emit($event)"
      (removePhone)="removePhone.emit($event)"
    ></app-client-form-phones>
    <ion-row>
      <ion-col size="12" >
        <ion-item>
          <ion-label position="stacked">{{ 'email' | translate }}</ion-label>
          <ion-input type="email" formControlName="email" placeholder="example: email@business.pl"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">{{ 'notes' | translate }}</ion-label>
          <ion-textarea
            rows="3"
            formControlName="clientNotes"
            placeholder="{{ 'notesTooltip' | translate }}"
          ></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ng-container>
