<ion-header>
  <ion-toolbar>
    <ion-title>Ustawienia</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <section >
    <h1></h1>
    <section fxFlex="1 1 100%" justify-content-center>

      <ion-card sizeSm="6">
        <ion-card-content>

          <app-application-settings-container></app-application-settings-container>
        </ion-card-content>
      </ion-card>
    </section>
  </section>
</ion-content>
