<ion-header>
  <ion-toolbar>
    <ion-title>Ustawienia</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <section>
    <h1></h1>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col size="12" sizeSm="10" sizeMd="10" sizeLg="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                {{ 'applicationSettings.labels.header' | translate }}
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <app-application-settings-container></app-application-settings-container>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>
