<ion-header>
  <ion-toolbar>
    <ion-title>Ustawienia</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p style="color: var(--ion-color-primary)">
    <ion-ripple-effect></ion-ripple-effect>
    Eksportuj dane
  </p>
  <ion-button expand="full">
      Eksportuj dane
  </ion-button>
  <ion-button expand="full">
      Zmien haslo
  </ion-button>
  <ion-button expand="full">

  </ion-button>

</ion-content>
